.dark-medium-contrast {
  --md-sys-color-primary: rgb(181 226 255);
  --md-sys-color-surface-tint: rgb(143 206 243);
  --md-sys-color-on-primary: rgb(0 41 58);
  --md-sys-color-primary-container: rgb(88 152 187);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(203 223 237);
  --md-sys-color-on-secondary: rgb(21 40 50);
  --md-sys-color-secondary-container: rgb(128 147 160);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(224 215 255);
  --md-sys-color-on-tertiary: rgb(39 33 64);
  --md-sys-color-tertiary-container: rgb(147 140 177);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 72 77);
  --md-sys-color-on-surface-variant: rgb(214 221 227);
  --md-sys-color-outline: rgb(172 179 185);
  --md-sys-color-outline-variant: rgb(138 145 151);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(38 43 46);
  --md-sys-color-inverse-primary: rgb(0 78 106);
  --md-sys-color-primary-fixed: rgb(195 231 255);
  --md-sys-color-on-primary-fixed: rgb(0 19 30);
  --md-sys-color-primary-fixed-dim: rgb(143 206 243);
  --md-sys-color-on-primary-fixed-variant: rgb(0 59 81);
  --md-sys-color-secondary-fixed: rgb(209 229 244);
  --md-sys-color-on-secondary-fixed: rgb(1 19 29);
  --md-sys-color-secondary-fixed-dim: rgb(181 201 215);
  --md-sys-color-on-secondary-fixed-variant: rgb(38 56 68);
  --md-sys-color-tertiary-fixed: rgb(230 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(18 12 43);
  --md-sys-color-tertiary-fixed-dim: rgb(202 193 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(56 50 82);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(64 69 73);
  --md-sys-color-surface-container-lowest: rgb(4 8 11);
  --md-sys-color-surface-container-low: rgb(26 30 33);
  --md-sys-color-surface-container: rgb(36 40 44);
  --md-sys-color-surface-container-high: rgb(46 51 55);
  --md-sys-color-surface-container-highest: rgb(58 62 66);
  --md-extended-color-danger-color: rgb(255 210 208);
  --md-extended-color-danger-on-color: rgb(72 19 21);
  --md-extended-color-danger-color-container: rgb(203 122 121);
  --md-extended-color-danger-on-color-container: rgb(0 0 0);
  --md-extended-color-warn-color: rgb(255 216 128);
  --md-extended-color-warn-on-color: rgb(50 35 0);
  --md-extended-color-warn-color-container: rgb(174 140 61);
  --md-extended-color-warn-on-color-container: rgb(0 0 0);
  --md-extended-color-info-color: rgb(167 229 255);
  --md-extended-color-info-on-color: rgb(0 42 54);
  --md-extended-color-info-color-container: rgb(81 154 181);
  --md-extended-color-info-on-color-container: rgb(0 0 0);
  --md-extended-color-success-color: rgb(171 235 187);
  --md-extended-color-success-on-color: rgb(0 45 21);
  --md-extended-color-success-color-container: rgb(97 158 115);
  --md-extended-color-success-on-color-container: rgb(0 0 0);
}
