.light {
  --md-sys-color-primary: rgb(28 101 133);
  --md-sys-color-surface-tint: rgb(28 101 133);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(195 231 255);
  --md-sys-color-on-primary-container: rgb(0 76 105);
  --md-sys-color-secondary: rgb(78 97 109);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(209 229 244);
  --md-sys-color-on-secondary-container: rgb(54 73 85);
  --md-sys-color-tertiary: rgb(96 90 125);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(230 222 255);
  --md-sys-color-on-tertiary-container: rgb(72 66 100);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(246 250 254);
  --md-sys-color-on-background: rgb(24 28 31);
  --md-sys-color-surface: rgb(246 250 254);
  --md-sys-color-on-surface: rgb(24 28 31);
  --md-sys-color-surface-variant: rgb(220 227 233);
  --md-sys-color-on-surface-variant: rgb(65 72 77);
  --md-sys-color-outline: rgb(113 120 125);
  --md-sys-color-outline-variant: rgb(192 199 205);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 49 52);
  --md-sys-color-inverse-on-surface: rgb(237 241 245);
  --md-sys-color-inverse-primary: rgb(143 206 243);
  --md-sys-color-primary-fixed: rgb(195 231 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 44);
  --md-sys-color-primary-fixed-dim: rgb(143 206 243);
  --md-sys-color-on-primary-fixed-variant: rgb(0 76 105);
  --md-sys-color-secondary-fixed: rgb(209 229 244);
  --md-sys-color-on-secondary-fixed: rgb(10 30 40);
  --md-sys-color-secondary-fixed-dim: rgb(181 201 215);
  --md-sys-color-on-secondary-fixed-variant: rgb(54 73 85);
  --md-sys-color-tertiary-fixed: rgb(230 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(29 23 54);
  --md-sys-color-tertiary-fixed-dim: rgb(202 193 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(72 66 100);
  --md-sys-color-surface-dim: rgb(214 218 223);
  --md-sys-color-surface-bright: rgb(246 250 254);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(240 244 248);
  --md-sys-color-surface-container: rgb(234 238 242);
  --md-sys-color-surface-container-high: rgb(229 232 237);
  --md-sys-color-surface-container-highest: rgb(223 227 231);
  --md-extended-color-danger-color: rgb(144 74 74);
  --md-extended-color-danger-on-color: rgb(255 255 255);
  --md-extended-color-danger-color-container: rgb(255 218 216);
  --md-extended-color-danger-on-color-container: rgb(115 51 52);
  --md-extended-color-warn-color: rgb(119 90 11);
  --md-extended-color-warn-on-color: rgb(255 255 255);
  --md-extended-color-warn-color-container: rgb(255 223 155);
  --md-extended-color-warn-on-color-container: rgb(91 67 0);
  --md-extended-color-info-color: rgb(10 103 128);
  --md-extended-color-info-on-color: rgb(255 255 255);
  --md-extended-color-info-color-container: rgb(185 234 255);
  --md-extended-color-info-on-color-container: rgb(0 77 97);
  --md-extended-color-success-color: rgb(46 106 68);
  --md-extended-color-success-on-color: rgb(255 255 255);
  --md-extended-color-success-color-container: rgb(177 241 193);
  --md-extended-color-success-on-color-container: rgb(18 81 46);
}
